
.metadata
.metadata/.log
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/Level0/.markers.snap
*.index
*.snap
*.resources
*.prefs
*.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.txt
*.xml
*.dat
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/Level0/.markers
*.snap
*.tree
*.resources
*.xmi
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
